footer {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 500px;
  background-color: $green;
  text-align: center;
  overflow-x: hidden;
}
