@import url("https://fonts.googleapis.com/css?family=Pacifico");
html, body {
  text-align: center; }

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#background {
  width: 1px;
  height: 1px;
  display: block;
  position: relative; }

#background::after {
  border-left: 16px solid #1BE7FF;
  border-right: 16px solid #1BE7FF;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10; }

.logo {
  transition: 1s all; }

.logoBlock {
  position: relative;
  display: block;
  margin: 170px;
  margin-bottom: 200px; }

.logoFixed {
  position: fixed;
  top: -120px;
  left: -165px;
  width: 180px; }
  .logoFixed .logoContainer, .logoFixed .titleContainer {
    transform: scale(0.2); }
  .logoFixed .titleContainer {
    top: 110px;
    left: 115px; }

.logoContainer, .inner, .bridge, .rim, .shadow {
  position: absolute; }

.logoContainer {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  height: 200px;
  transform: scale(0.6); }

.backgroundCircle {
  width: 450px;
  height: 450px;
  background: #1BE7FF;
  border-radius: 450px;
  position: absolute;
  z-index: -4;
  left: -45px;
  top: -170px;
  border: 30px solid #6EEB83; }

.inner {
  width: 150px;
  height: 150px;
  background: #FFB800;
  border-radius: 100%;
  border: 10px solid #FF5714; }
  .inner:before, .inner:after {
    position: absolute;
    content: ''; }
  .inner:before {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #FFF;
    opacity: 0.7;
    top: 20px;
    left: 60px; }
  .inner:after {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFF;
    opacity: 0.7;
    top: 30px;
    left: 30px; }

.inner.right {
  left: 250px; }

.shadow {
  top: 35px;
  left: 13px;
  width: 150px;
  height: 75px;
  border-bottom: 35px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 100px 100px;
  transform: rotate(-40deg); }

.bridge {
  z-index: -1;
  width: 330px;
  height: 100px;
  left: 50px;
  border-radius: 100%;
  border-top: 60px solid #FF5714; }
  .bridge:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: #FF5714;
    border: 5px solid #458379;
    border-radius: 100%;
    top: -72px;
    left: 130px; }

.rim {
  z-index: -1;
  width: 70px;
  height: 130px;
  background: #458379;
  border-radius: 0 100px 100px 100px;
  left: 90px;
  top: -25px;
  transform: rotate(-45deg); }

.rim.right {
  left: 260px;
  border-radius: 100px 0 100px 100px;
  transform: rotate(45deg); }

@media (max-width: 800px) {
  .logoContainer {
    transform: scale(0.4);
    width: 250px;
    height: 100px; } }

.titleContainer {
  position: relative;
  display: block;
  top: 200px; }

#title {
  font-family: Pacifico;
  font-size: 80px;
  color: #6EEB83;
  margin-bottom: 125px; }

.sup {
  font-family: Arial;
  font-size: 20px;
  vertical-align: super;
  color: #1BE7FF; }

#inputGuide {
  font-size: 20px; }

#input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  color: #6EEB83; }

#input--orangeBorder {
  margin: 0 auto;
  width: 260px;
  height: 72px;
  background: #FFB800;
  border-radius: 5px; }

#input--yellowBorder {
  margin: 0 auto;
  width: 244px;
  height: 63px;
  background: #E4FF1A;
  border-radius: 5px; }

/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
.geosuggest {
  position: relative;
  text-align: left; }

.geosuggest__input {
  margin: 0 auto;
  width: 200px;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s; }

.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent; }

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s; }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer; }

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5; }

.geosuggest__item--active {
  background: #267dc0;
  color: #fff; }

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc; }

.geosuggest__item__matched-text {
  font-weight: bold; }

.submitButton {
  border-radius: 5px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 260px;
  padding-right: auto;
  padding-left: auto;
  text-align: center;
  font-size: 16px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  background: #6EEB83; }

/* Style The Dropdown Button */
.dropbtn {
  background-color: #6EEB83;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6EEB83;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E4FF1A; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #1BE7FF; }

.reportContainer {
  display: block;
  width: 960px;
  margin: 0 auto;
  text-align: left; }

.cityErrorText {
  font-size: 12px;
  color: gray; }

.coolCity {
  font-family: Pacifico;
  font-size: 80px;
  color: #6EEB83; }

footer {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  background-color: #6EEB83;
  text-align: center;
  overflow-x: hidden; }
