// pseudo div for background
#background {
	width: 1px;
	height: 1px;
	display: block;
	position: relative;
}
#background::after {
	border-left: 16px solid $blue;
	border-right: 16px solid $blue;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -10;
}
