@import url('https://fonts.googleapis.com/css?family=Pacifico');

#title {
  font-family: Pacifico;
  font-size: 80px;
  color: $green;
  margin-bottom: 125px;
}
.sup {
  font-family: Arial;
  font-size: 20px;
  vertical-align: super;
  color: $blue;
}
